@media screen and (min-width: 1440px) {
    .container-audi {
        padding-top: 3rem;
        padding-bottom: 3rem;

        .my-row {
            padding-top: 3rem;
        }

        .my-row2 {
            padding-top: 3rem;
        }

        .card-header {
            font-size: 2rem;
        }

        .btn-a {
            color: white;
            text-decoration: none;
        }

        .bg-my {
            background-color: grey;
        }

        .img-a {
            width: 16rem;
            height: 16rem;
        }

        h5 {
            font-size: 1.5rem;
        }

        .card-title {
            color: white;
        }

        .card-text {
            font-size: 1.3rem;
            padding-top: 1rem;
            color: white;
        }

        .my-col {
            width: 20rem;
        }
    }
}