@media screen and (min-width: 1440px) {
    .container-audi {
        margin-bottom: 3rem;

        .my-row1 {
            margin-top: 1rem;
        }

        .my-row2 {
            margin-top: -1rem;
        }

        .card-header {
            font-size: 2rem;
        }

        .btn-a {
            color: white;
            text-decoration: none;
        }

        .btn-a:hover {
            color: $lightgreen;
        }

        .bg-my {
            background-color: purple;
        }

        .img-a {
            width: 16rem;
            height: 16rem;
        }

        h5 {
            font-size: 1.5rem;
        }

        .card-title {
            color: white;
        }

        .card-text {
            font-size: 1.3rem;
            margin-top: 1rem;
            color: white;
        }

        .my-col {
            width: 20rem;
        }

        .audi-menu {
            text-decoration: none;
            font-size: 2.5rem;
            color: $green;
        }

        .audi-menu:hover {
            color: $lightgreen;
        }

        .btn-shopcart {
            text-decoration: none;
            font-size: 2rem;
        }

        .fade-enter {
            opacity: 0;
        }

        .fade-enter-active {
            transition: opacity 3s;
        }

        .fade-leave {
            opacity: 0;
        }

        .fade-leave-active {
            transition: opacity 3s;
            opacity: 0;
        }
    }
}