@media screen and (min-width: 640px) {
    .container-contacts {
        .text-contacts {
            padding-top: 2rem;
        }
    
        .input-group {
            padding-top: 5rem;
        }
    
        .form-label {
            padding-top: 2rem;
        }
    
        .btn-submit {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    
        .btn-submit:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container-contacts {
        .text-contacts {
            padding-top: 2rem;
        }
    
        .input-group {
            padding-top: 5rem;
        }
    
        .form-label {
            padding-top: 2rem;
        }
    
        .btn-submit {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    
        .btn-submit:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    }
}

@media screen and (min-width: 1440px) {
    .container-contacts {
        .text-contacts {
            padding-top: 2rem;
        }
    
        .input-group {
            padding-top: 5rem;
        }
    
        .form-label {
            padding-top: 2rem;
        }
    
        .btn-submit {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    
        .btn-submit:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    }
}