@media screen and (min-width: 640px) {
    .container-contacts {
        .text-contacts {
            margin-top: 2rem;
        }
    
        .input-group {
            margin-top: 5rem;
        }
    
        .form-label {
            margin-top: 2rem;
        }
    
        .btn-submit {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    
        .btn-submit:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container-contacts {
        .text-contacts {
            margin-top: 2rem;
        }
    
        .input-group {
            margin-top: 5rem;
        }
    
        .form-label {
            margin-top: 2rem;
        }
    
        .btn-submit {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    
        .btn-submit:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    }
}

@media screen and (min-width: 1440px) {
    .container-contacts {
        background-color: $lightgrey;
        margin-top: 7rem;
        border-radius: 1rem;

        .text-contacts-h1 {
            font-size: 2.7rem;
        }

        .input-group {
            margin-top: 4rem;
        }

        .input-group-text {
            background-color: $darkblue;
            color: $lightblue;
        }

        .form-label {
            color: $lightblue;
            font-size: 1.7rem;
        }
    
        .form-label {
            margin-top: 2rem;
        }
    
        .btn-submit {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: $darkblue;
            color: $lightblue;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    
        .btn-submit:hover {
            background-color: $lightblue;
            color: $darkblue;
        }
    }
}