@media screen and (min-width: 640px) {
    .container-courses {
        .text-beginner {
            background-color: grey;
            margin-top: 3rem;
        }
    
        .text-beginner-B {
            color: lightgreen;
            font-size: 5rem;
            text-align: center;
        }
    
        .text-beginner-B1 {
            color: lightgreen;
            font-size: 2rem;
        }
    
        .beginner-btn {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
        }
    
        .beginner-btn:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    
        .text-medium {
            background-color: grey;
            margin-top: 3rem;
        }
    
        .text-medium-M {
            color: lightgreen;
            font-size: 5rem;
            text-align: center;
        }
    
        .text-medium-M1 {
            color: lightgreen;
            font-size: 2rem;
        }
    
        .medium-btn {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
        }
    
        .medium-btn:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    
        .text-expert {
            background-color: grey;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    
        .text-expert-E {
            color: lightgreen;
            font-size: 5rem;
            text-align: center;
        }
    
        .text-expert-E1 {
            color: lightgreen;
            font-size: 2rem;
        }
    
        .expert-btn {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
        }
    
        .expert-btn:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container-courses {
        .text-beginner {
            background-color: grey;
            margin-top: 3rem;
        }
    
        .text-beginner-B {
            color: lightgreen;
            font-size: 5rem;
            text-align: center;
        }
    
        .text-beginner-B1 {
            color: lightgreen;
            font-size: 2rem;
        }
    
        .beginner-btn {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
        }
    
        .beginner-btn:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    
        .text-medium {
            background-color: grey;
            margin-top: 3rem;
        }
    
        .text-medium-M {
            color: lightgreen;
            font-size: 5rem;
            text-align: center;
        }
    
        .text-medium-M1 {
            color: lightgreen;
            font-size: 2rem;
        }
    
        .medium-btn {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
        }
    
        .medium-btn:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    
        .text-expert {
            background-color: grey;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    
        .text-expert-E {
            color: lightgreen;
            font-size: 5rem;
            text-align: center;
        }
    
        .text-expert-E1 {
            color: lightgreen;
            font-size: 2rem;
        }
    
        .expert-btn {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
        }
    
        .expert-btn:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    }
}

@media screen and (min-width: 1440px) {
    .container-courses {
        .text-beginner {
            background-color: grey;
            margin-top: 3rem;
        }
    
        .text-beginner-B {
            color: lightgreen;
            font-size: 5rem;
            text-align: center;
        }
    
        .text-beginner-B1 {
            color: lightgreen;
            font-size: 2rem;
        }
    
        .beginner-btn {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
        }
    
        .beginner-btn:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    
        .text-medium {
            background-color: grey;
            margin-top: 3rem;
        }
    
        .text-medium-M {
            color: lightgreen;
            font-size: 5rem;
            text-align: center;
        }
    
        .text-medium-M1 {
            color: lightgreen;
            font-size: 2rem;
        }
    
        .medium-btn {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
        }
    
        .medium-btn:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    
        .text-expert {
            background-color: grey;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    
        .text-expert-E {
            color: lightgreen;
            font-size: 5rem;
            text-align: center;
        }
    
        .text-expert-E1 {
            color: lightgreen;
            font-size: 2rem;
        }
    
        .expert-btn {
            border: none;
            border-radius: 5px;
            font-size: 2rem;
            background-color: lightseagreen;
            color: lightgreen;
        }
    
        .expert-btn:hover {
            background-color: lightgreen;
            color: lightseagreen;
        }
    }
}