@media screen and (min-width: 640px) {
    .container-footer {
        background-color: grey;

        .text-copyright {
            color: lightgreen;
            font-size: 1.5rem;
        }
        
        .facebook {
            font-size: 1.5rem;
        }
        
        .instagram {
            font-size: 1.5rem;
        }
        
        .twitter {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container-footer {
        background-color: grey;

        .text-copyright {
            color: lightgreen;
            font-size: 1.5rem;
        }
        
        .facebook {
            font-size: 1.5rem;
        }
        
        .instagram {
            font-size: 1.5rem;
        }
        
        .twitter {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: 1440px) {
    .container-footer {
        background-color: grey;

        .text-copyright {
            color: lightgreen;
            font-size: 1.5rem;
        }
    
        .facebook {
            font-size: 1.5rem;
        }
    
        .instagram {
            font-size: 1.5rem;
        }
    
        .twitter {
            font-size: 1.5rem;
        }
    }
}