@media screen and (min-width: 1440px) {
    .navbar-light {
        width: 100%;
        height: 80px;
    }

    .btnC {
        font-size: 30px;
        color: $lightgreen;
        text-decoration: none;
        margin-left: 100px;
    }

    .btnC:hover {
        color: $lightseagreen;
    }

    .btnB {
        font-size: 30px;
        color: $lightgreen;
        text-decoration: none;
        margin-left: 100px;
    }

    .btnB:hover {
        color: $lightseagreen;
    }

    .btnA {
        font-size: 30px;
        color: $lightgreen;
        text-decoration: none;
        margin-left: 1200px;
    }

    .btnA:hover {
        color: $lightseagreen;
    }

    .btnD {
        font-size: 30px;
        color: $lightgreen;
        text-decoration: none;
        margin-left: 0px;
    }

    .btnD:hover {
        color: $lightseagreen;
    }
}