@media screen and (min-width: 640px) {
    .btnProducts {
        font-size: 1rem;
        color: $darkgreen;
        text-decoration: none;
    }

    .btnProducts:hover {
        color: $green;
    }

    .btnContacts {
        font-size: 1rem;
        color: $darkgreen;
        text-decoration: none;
    }

    .btnContacts:hover {
        color: $green;
    }

    .audi_logo {
        width: 6rem;
        height: 4rem;
    }
}

@media screen and (min-width: 1024px) {
    .btnProducts {
        font-size: 1.5rem;
        color: $darkgreen;
        text-decoration: none;
        // margin-left: 1rem;
    }

    .btnProducts:hover {
        color: $green;
    }

    .btnContacts {
        font-size: 1.5rem;
        color: $darkgreen;
        text-decoration: none;
        // margin-left: 1rem;
    }

    .btnContacts:hover {
        color: $green;
    }

    .audi_logo {
        width: 6rem;
        height: 4rem;
    }
}

@media screen and (min-width: 1440px) {
    .container-header {
        .btnProducts {
            font-size: 2rem;
            color: $darkgreen;
            text-decoration: none;
            margin-left: -2rem;
        }
    
        .btnProducts:hover {
            color: $green;
        }
    
        .btnContacts {
            font-size: 2rem;
            color: $darkgreen;
            text-decoration: none;
            // margin-left: 0.1rem;
        }
    
        .btnContacts:hover {
            color: $green;
        }

        .btnLogIn {
            font-size: 2rem;
            color: $darkgreen;
            text-decoration: none;
            margin-left: 2rem;
        }
    
        .btnLogIn:hover {
            color: $green;
        }

        .btnSC {
            font-size: 2rem;
            color: $darkgreen;
            text-decoration: none;
            margin-left: 2.5rem;
        }
    
        .btnSC:hover {
            color: $green;
        }

        .audi_logo {
            width: 6rem;
            height: 4rem;
        }
    }
}

