@media (min-width: 640px) {
    .container-home {
        .ln {
            font-size: 5rem;
            color: $green;
        }
    
        .icon {
            width: 20rem;
            height: 20rem;
        }
    }
}

@media (min-width: 1024px) {
    .container-home {
        .ln {
            font-size: 9rem;
            color: $green;
        }
    
        .icon {
            width: 30rem;
            height: 30rem;
        }
    }
}

@media screen and (min-width: 1440px) {
    .container-home {
        .ln {
            font-size: 11rem;
            color: $green;
        }
    
        .icon {
            width: 30rem;
            height: 30rem;
        }

        .audi-text {
            font-family: 'Roboto';
            font-size: 6rem;
            margin-top: 3rem;
            text-decoration: none;
            color: black;
        }

        .audi-text:hover {
            color: red;
        }

        .audi-img {
            margin-bottom: 3rem;
        }
    }
}