@media (min-width: 640px) {
    .container-home {
        .ln {
            font-size: 5rem;
            color: $green;
        }
    
        .icon {
            width: 20rem;
            height: 20rem;
        }
    }
}

@media (min-width: 1024px) {
    .container-home {
        .ln {
            font-size: 9rem;
            color: $green;
        }
    
        .icon {
            width: 30rem;
            height: 30rem;
        }
    }
}

@media screen and (min-width: 1440px) {
    .container-home {
        .audi_garage {
            font-family: 'Bebas Neue', cursive;
            font-size: 15rem;
        }

        .audi_pic {
            width: 40rem;
            height: 40rem;
            margin-top: -4rem;
        }

        .welcome_text {
            font-family: 'Bebas Neue', cursive;
            font-size: 3rem;
            margin-top: 3rem;
        }

        .welcome_img {
            width: 40rem;
            height: 40rem;
        }

        .history_text,
        .history_text_description {
            font-family: 'Bebas Neue', cursive;
            font-size: 3rem;
        }

        // .history_img {
        //     width: 40rem;
        //     height: 40rem;
        // }

        .history_text,
        .team_text_our {
            font-family: 'Bebas Neue', cursive;
            font-size: 6rem;
            margin-top: 3rem;
        }

        .team_text {
            font-family: 'Bebas Neue', cursive;
            font-size: 3rem;
            margin-top: 3rem;
        }

        .Tom_Holland_pic,
        .Robert_Downey_Jr,
        .Scarlet_Johansson_pic {
            width: 20rem;
            height: 24rem;
            margin-bottom: 2rem;
        }
    }
}