@media screen and (min-width: 1440px){
    .ln {
        text-align: center;
        font-size: 200px;
        margin-top: -83px;
        color: $green;
    }

    .icon {
        margin-left: 670px;
        margin-top: -30px;
    }
}