.ln {
    text-align: center;
    font-size: 50px;
    color: $green;
}

.icon {
    width: 300px;
    height: 300px;
    margin-left: 40px;
}

.btnC {
    font-size: 50px;
    color: lightgreen;
    text-decoration: none;
    margin-left: 95px;
}

.btnB {
    font-size: 50px;
    color: lightgreen;
    text-decoration: none;
    margin-left: 95px;
}

.btnA {
    font-size: 50px;
    color: lightgreen;
    text-decoration: none;
    margin-left: 95px;
}

.navbar-nav {
    margin-top: 81px;
}

