@media screen and (min-width: 640px) {
    
}

@media screen and (min-width: 1024px) {
    
}

@media screen and (min-width: 1440px) {
    .container-login {
        margin-top: 8rem;
        margin-bottom: -8.2rem;
        background-color: $lightgrey;
        border-radius: 1rem;

        .login-text {
            text-align: center;
            color: $midblue;
            font-size: 3rem;
        }

        .btn-login,
        .btn-logout {
            background-color: $darkblue;
            color: $lightblue;
            text-decoration: none;
            border-radius: .5rem;
        }

        .btn-login:hover,
        .btn-logout:hover {
            background-color: $lightblue;
            color: $darkblue;
        }

        .btn-login {
            margin-top: 1rem;
            margin-bottom: 1rem;
            font-size: 1.7rem;
        }

        .btn-logout {
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }
        
        .needAccount-text {
            color: $darkblue;
            margin-top: 1rem;
        }

        .registerHere-text {
            color: $midblue;
            text-decoration: none;
        }

        .registerHere-text:hover {
            color: $lightblue;
        }

        .form {
            margin-top: 1rem;
        }
    }
}