@media screen and (min-width: 640px) {
    .container-portfolio {
        .container img {
            transition: 1s;
        }
    
        .container img:hover {
            transform: scale(1.1);
        }
    
        .pic {
            width: 20rem;
            height: 20rem;
            border: 1px solid black;
            transform: translate(1.1);
        }
    
        .col {
            padding: .3rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .container-portfolio {
        .container img {
            transition: 1s;
        }
    
        .container img:hover {
            transform: scale(1.1);
        }
    
        .pic {
            width: 20rem;
            height: 20rem;
            border: 1px solid black;
            transform: translate(1.1);
        }
    
        .col {
            padding: .3rem;
        }
    }
}

@media screen and (min-width: 1440px) {
    .container-portfolio {
        .container img {
            transition: 1s;
        }
    
        .container img:hover {
            transform: scale(1.1);
        }
    
        .pic {
            width: 20rem;
            height: 20rem;
            border: 1px solid black;
            transform: translate(1.1);
        }
    
        .col {
            padding: .3rem;
        }
    }
}