.container-engine {
    .fade-enter {
        opacity: 0;
    }

    .fade-enter-active {
        transition: opacity 3s;
    }

    .fade-leave {
        opacity: 0;
    }

    .fade-leave-active {
        transition: opacity 3s;
        opacity: 0;
    }

    .card-header {
        background-color: lightskyblue;
    }
}
