@media screen and (min-width: 390px) {
  .container-header .btnProducts {
    font-size: 2rem;
    color: #00c6cf;
    text-decoration: none;
  }
  .container-header .btnContacts {
    font-size: 2rem;
    color: #00c6cf;
    text-decoration: none;
  }
  .container-header .btnLogIn {
    font-size: 2rem;
    color: #00c6cf;
    text-decoration: none;
  }
  .container-header .btnSC {
    font-size: 2rem;
    color: darkgreen;
    text-decoration: none;
  }
  .container-header .audi_logo {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 810px) {
  .container-header .btnProducts {
    font-size: 2rem;
    color: #00c6cf;
    text-decoration: none;
  }
  .container-header .btnContacts {
    font-size: 2rem;
    color: #00c6cf;
    text-decoration: none;
  }
  .container-header .btnLogIn {
    font-size: 2rem;
    color: #00c6cf;
    text-decoration: none;
  }
  .container-header .btnSC {
    font-size: 2rem;
    color: darkgreen;
    text-decoration: none;
  }
  .container-header .audi_logo {
    width: 6rem;
    height: 4rem;
  }
}
@media screen and (min-width: 1440px) {
  .container-header .btnProducts {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    margin-left: -3rem;
  }
  .container-header .btnProducts:hover {
    color: #068488;
  }
  .container-header .btnContacts {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    margin-left: -1rem;
  }
  .container-header .btnContacts:hover {
    color: #068488;
  }
  .container-header .btnLogIn {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    margin-left: 1.2rem;
  }
  .container-header .btnLogIn:hover {
    color: #068488;
  }
  .container-header .aviation_logo {
    width: 4rem;
    height: 5rem;
  }
}
@media (min-width: 390px) {
  .container-home .audi_garage {
    font-family: "Bebas Neue", cursive;
    font-size: 7rem;
    margin-top: 3.6rem;
    color: #068488;
  }
  .container-home .audi_pic {
    max-width: 100%;
    height: auto;
    margin-top: -2rem;
  }
  .container-home .welcome_text {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    margin-top: 3rem;
    color: white;
    background-color: #324b4c;
    border-radius: 1rem;
  }
  .container-home .history_text,
.container-home .history_text_description {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
  }
  .container-home .history_text,
.container-home .team_text_our {
    color: #068488;
  }
  .container-home .history_text_description {
    color: white;
    background-color: #324b4c;
    border-radius: 1rem;
  }
  .container-home .history_text,
.container-home .team_text_our {
    font-family: "Bebas Neue", cursive;
    font-size: 6rem;
    margin-top: 3rem;
  }
  .container-home .team_text {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    margin-top: 3rem;
    color: #068488;
  }
  .container-home .Tom_Holland_pic,
.container-home .Robert_Downey_Jr,
.container-home .Scarlet_Johansson_pic {
    width: 20rem;
    height: 24rem;
    margin-bottom: 2rem;
  }
  .container-home .team-col {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 1rem;
  }
  .container-home .map {
    width: 20rem;
    height: 20rem;
  }
  .container-home .welcome_img {
    max-width: 100%;
    height: auto;
    margin-bottom: -3rem;
  }
  .container-home .history_img {
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: -1rem;
  }
}
@media (min-width: 810px) {
  .container-home .audi_garage {
    font-family: "Bebas Neue", cursive;
    font-size: 11rem;
    margin-top: 5rem;
    color: #068488;
  }
  .container-home .audi_pic {
    max-width: 100%;
    height: auto;
    margin-top: -2.4rem;
  }
  .container-home .welcome_text {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    margin-top: 3rem;
    color: white;
    background-color: #324b4c;
    border-radius: 1rem;
  }
  .container-home .welcome_img {
    max-width: 100%;
    height: auto;
  }
  .container-home .history_text,
.container-home .history_text_description {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
  }
  .container-home .history_text,
.container-home .team_text_our {
    color: #068488;
  }
  .container-home .history_text_description {
    color: white;
    background-color: #324b4c;
    border-radius: 1rem;
  }
  .container-home .history_text,
.container-home .team_text_our {
    font-family: "Bebas Neue", cursive;
    font-size: 6rem;
    margin-top: 3rem;
  }
  .container-home .team_text {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    margin-top: 3rem;
    color: #068488;
  }
  .container-home .Tom_Holland_pic,
.container-home .Robert_Downey_Jr,
.container-home .Scarlet_Johansson_pic {
    width: 10rem;
    height: 10rem;
    margin-bottom: 2rem;
  }
  .container-home .team-col {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 1rem;
  }
  .container-home .map {
    width: 40rem;
    height: 40rem;
  }
}
@media screen and (min-width: 1440px) {
  .container-home .audi_garage {
    font-family: "Bebas Neue", cursive;
    font-size: 15rem;
    margin-top: 5rem;
    color: #068488;
  }
  .container-home .audi_pic {
    width: 40rem;
    height: 40rem;
    margin-top: -4rem;
  }
  .container-home .welcome_text {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    margin-top: 3rem;
    color: white;
    background-color: #324b4c;
    border-radius: 1rem;
  }
  .container-home .welcome_img {
    width: 40rem;
    height: 40rem;
  }
  .container-home .history_text,
.container-home .history_text_description {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
  }
  .container-home .history_text,
.container-home .team_text_our {
    color: #068488;
  }
  .container-home .history_text_description {
    color: white;
    background-color: #324b4c;
    border-radius: 1rem;
  }
  .container-home .history_text,
.container-home .team_text_our {
    font-family: "Bebas Neue", cursive;
    font-size: 6rem;
    margin-top: 3rem;
  }
  .container-home .team_text {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    margin-top: 3rem;
    color: #068488;
  }
  .container-home .Tom_Holland_pic,
.container-home .Robert_Downey_Jr,
.container-home .Scarlet_Johansson_pic {
    width: 20rem;
    height: 24rem;
    margin-bottom: 2rem;
  }
  .container-home .team-col {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 1rem;
  }
  .container-home .table {
    margin-top: 8rem;
  }
  .container-home .AviationNewsText {
    font-size: 7rem;
    font-family: "Bebas Neue", Courier, monospace;
    margin-top: 8rem;
  }
  .container-home .SecondText {
    font-size: 2rem;
    font-family: "Bebas Neue", Courier, monospace;
  }
  .container-home .AirportImg,
.container-home .AirshowImg,
.container-home .AvionicsImg,
.container-home .MaintenanceImg,
.container-home .FlightTrainingImg,
.container-home .BioFuelImg {
    width: 25rem;
    height: 17rem;
    margin-top: 3rem;
  }
  .container-home .textOne {
    font-family: "Bebas Neue", Courier, monospace;
    font-size: 1.5rem;
  }
  .container-home .BioFuelBtn,
.container-home .FlightTrainingBtn,
.container-home .MaintenanceBtn,
.container-home .AvionicsBtn,
.container-home .AirshowBtn,
.container-home .AirportBtn {
    color: black;
    text-decoration: none;
  }
  .container-home .BioFuelBtn:hover,
.container-home .FlightTrainingBtn:hover,
.container-home .MaintenanceBtn:hover,
.container-home .AvionicsBtn:hover,
.container-home .AirshowBtn:hover,
.container-home .AirportBtn:hover {
    color: blue;
  }
}
@media screen and (min-width: 1440px) {
  .container-login {
    margin-top: 8rem;
    margin-bottom: -8.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
  }
  .container-login .login-text {
    text-align: center;
    color: #068488;
    font-size: 3rem;
  }
  .container-login .btn-login,
.container-login .btn-logout {
    background-color: #324b4c;
    color: #00c6cf;
    text-decoration: none;
    border-radius: 0.5rem;
  }
  .container-login .btn-login:hover,
.container-login .btn-logout:hover {
    background-color: #00c6cf;
    color: #324b4c;
  }
  .container-login .btn-login {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }
  .container-login .btn-logout {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .container-login .needAccount-text {
    color: #324b4c;
    margin-top: 1rem;
  }
  .container-login .registerHere-text {
    color: #068488;
    text-decoration: none;
  }
  .container-login .registerHere-text:hover {
    color: #00c6cf;
  }
  .container-login .form {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .container-register {
    margin-top: 8rem;
    margin-bottom: -8.2rem;
    background-color: lightgrey;
    border-radius: 1rem;
  }
  .container-register .register-text {
    text-align: center;
    color: #068488;
    font-size: 3rem;
  }
  .container-register .btn-register,
.container-register .btn-logout {
    background-color: #324b4c;
    color: #00c6cf;
    text-decoration: none;
    border-radius: 0.5rem;
  }
  .container-register .btn-register:hover,
.container-register .btn-logout:hover {
    background-color: #00c6cf;
    color: #324b4c;
  }
  .container-register .btn-register {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }
  .container-register .btn-logout {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .container-register .needAccount-text {
    color: #324b4c;
    margin-top: 1rem;
  }
  .container-register .registerHere-text {
    color: #068488;
    text-decoration: none;
  }
  .container-register .registerHere-text:hover {
    color: #00c6cf;
  }
  .container-register .form {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 640px) {
  .container-contacts .text-contacts {
    margin-top: 2rem;
  }
  .container-contacts .input-group {
    margin-top: 5rem;
  }
  .container-contacts .form-label {
    margin-top: 2rem;
  }
  .container-contacts .btn-submit {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .container-contacts .btn-submit:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
}
@media screen and (min-width: 1024px) {
  .container-contacts .text-contacts {
    margin-top: 2rem;
  }
  .container-contacts .input-group {
    margin-top: 5rem;
  }
  .container-contacts .form-label {
    margin-top: 2rem;
  }
  .container-contacts .btn-submit {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .container-contacts .btn-submit:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
}
@media screen and (min-width: 1440px) {
  .container-contacts {
    background-color: lightgrey;
    margin-top: 7rem;
    border-radius: 1rem;
  }
  .container-contacts .text-contacts-h1 {
    font-size: 2.7rem;
  }
  .container-contacts .input-group {
    margin-top: 4rem;
  }
  .container-contacts .input-group-text {
    background-color: #324b4c;
    color: #00c6cf;
  }
  .container-contacts .form-label {
    color: #00c6cf;
    font-size: 1.7rem;
  }
  .container-contacts .form-label {
    margin-top: 2rem;
  }
  .container-contacts .btn-submit {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: #324b4c;
    color: #00c6cf;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .container-contacts .btn-submit:hover {
    background-color: #00c6cf;
    color: #324b4c;
  }
}
@media screen and (min-width: 390px) {
  .my-footer {
    margin-top: 14.1%;
    background-color: grey;
  }
  .text-AG,
.text-audi-garage,
.text-destrib,
.text-links,
.text-contacts {
    color: black;
  }
  .text-white {
    color: black;
  }
}
.my-footer {
  margin-top: 14.1%;
  background-color: grey;
}

.text-AG,
.text-audi-garage,
.text-destrib,
.text-links,
.text-contacts {
  color: black;
}

.text-white {
  color: black;
}

@media screen and (min-width: 1440px) {
  .my-footer {
    margin-top: 14.1%;
    background-color: lightgrey;
  }
  .text-AG,
.text-audi-garage,
.text-destrib,
.text-links,
.text-contacts {
    color: black;
  }
  .first-text {
    color: black;
  }
}
@media screen and (min-width: 1440px) {
  .container-audi {
    margin-bottom: 3rem;
  }
  .container-audi .my-row1 {
    margin-top: 7rem;
  }
  .container-audi .my-row2 {
    margin-top: 0.1rem;
  }
  .container-audi .card-header {
    font-size: 2rem;
  }
  .container-audi .btn-a {
    color: white;
    text-decoration: none;
  }
  .container-audi .btn-a:hover {
    color: #00c6cf;
  }
  .container-audi .img-a {
    width: 16rem;
    height: 16rem;
  }
  .container-audi h5 {
    font-size: 1.5rem;
  }
  .container-audi .card-title {
    color: white;
  }
  .container-audi .card-text {
    font-size: 1.3rem;
    margin-top: 1rem;
    color: white;
  }
  .container-audi .my-col {
    width: 20rem;
  }
  .container-audi .fade-enter {
    opacity: 0;
  }
  .container-audi .fade-enter-active {
    transition: opacity 3s;
  }
  .container-audi .fade-leave {
    opacity: 0;
  }
  .container-audi .fade-leave-active {
    transition: opacity 3s;
    opacity: 0;
  }
}
.container-engine .fade-enter {
  opacity: 0;
}
.container-engine .fade-enter-active {
  transition: opacity 3s;
}
.container-engine .fade-leave {
  opacity: 0;
}
.container-engine .fade-leave-active {
  transition: opacity 3s;
  opacity: 0;
}
.container-engine .img-a {
  width: 16rem;
  height: 16rem;
}
.container-engine .card-header {
  font-size: 2rem;
}

.par {
  color: green;
}/*# sourceMappingURL=styles.css.map */