.navbar {
  background-color: grey;
}

@media screen and (min-width: 640px) {
  .btnA {
    font-size: 1rem;
    color: lightgreen;
    text-decoration: none;
  }

  .btnA:hover {
    color: lightseagreen;
  }

  .btnB {
    font-size: 1rem;
    color: lightgreen;
    text-decoration: none;
  }

  .btnB:hover {
    color: lightseagreen;
  }

  .btnC {
    font-size: 1rem;
    color: lightgreen;
    text-decoration: none;
  }

  .btnC:hover {
    color: lightseagreen;
  }

  .btnD {
    font-size: 2rem;
    color: lightgreen;
    text-decoration: none;
    cursor: pointer;
  }

  .btnD:hover {
    color: lightseagreen;
  }
}
@media screen and (min-width: 1024px) {
  .btnA {
    font-size: 1.5rem;
    color: lightgreen;
    text-decoration: none;
    margin-left: 1rem;
  }

  .btnA:hover {
    color: lightseagreen;
  }

  .btnB {
    font-size: 1.5rem;
    color: lightgreen;
    text-decoration: none;
    margin-left: 1rem;
  }

  .btnB:hover {
    color: lightseagreen;
  }

  .btnC {
    font-size: 1.5rem;
    color: lightgreen;
    text-decoration: none;
    margin-left: 1rem;
  }

  .btnC:hover {
    color: lightseagreen;
  }

  .btnD {
    font-size: 2rem;
    color: lightgreen;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
  }

  .btnD:hover {
    color: lightseagreen;
  }
}
@media screen and (min-width: 1440px) {
  .container-header .btnA {
    font-size: 2rem;
    color: lightgreen;
    text-decoration: none;
    margin-left: 3rem;
  }
  .container-header .btnA:hover {
    color: lightseagreen;
  }
  .container-header .btnB {
    font-size: 2rem;
    color: lightgreen;
    text-decoration: none;
    margin-left: 8rem;
  }
  .container-header .btnB:hover {
    color: lightseagreen;
  }
  .container-header .btnC {
    font-size: 2rem;
    color: lightgreen;
    text-decoration: none;
    margin-left: 12.5rem;
  }
  .container-header .btnC:hover {
    color: lightseagreen;
  }
  .container-header .btnD {
    font-size: 2.5rem;
    color: lightgreen;
    text-decoration: none;
    margin-left: 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
  }
  .container-header .btnD:hover {
    color: lightseagreen;
  }
  .container-header .btnE {
    font-size: 2rem;
    color: lightgreen;
    text-decoration: none;
    margin-left: 17rem;
  }
  .container-header .btnE:hover {
    color: lightseagreen;
  }
}
@media (min-width: 640px) {
  .container-home .ln {
    font-size: 5rem;
    color: green;
  }
  .container-home .icon {
    width: 20rem;
    height: 20rem;
  }
}
@media (min-width: 1024px) {
  .container-home .ln {
    font-size: 9rem;
    color: green;
  }
  .container-home .icon {
    width: 30rem;
    height: 30rem;
  }
}
@media screen and (min-width: 1440px) {
  .container-home .ln {
    font-size: 11rem;
    color: green;
  }
  .container-home .icon {
    width: 30rem;
    height: 30rem;
  }
  .container-home .audi-text {
    font-family: "Roboto";
    font-size: 6rem;
    margin-top: 3rem;
    text-decoration: none;
    color: black;
  }
  .container-home .audi-text:hover {
    color: red;
  }
  .container-home .audi-img {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 640px) {
  .container-portfolio .container img {
    transition: 1s;
  }
  .container-portfolio .container img:hover {
    transform: scale(1.1);
  }
  .container-portfolio .pic {
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    transform: translate(1.1);
  }
  .container-portfolio .col {
    padding: 0.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .container-portfolio .container img {
    transition: 1s;
  }
  .container-portfolio .container img:hover {
    transform: scale(1.1);
  }
  .container-portfolio .pic {
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    transform: translate(1.1);
  }
  .container-portfolio .col {
    margin: 0.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .container-portfolio .container img {
    transition: 1s;
  }
  .container-portfolio .container img:hover {
    transform: scale(1.1);
  }
  .container-portfolio .pic {
    width: 20rem;
    height: 20rem;
    border: 1px solid black;
    transform: translate(1.1);
  }
  .container-portfolio .col {
    margin: 0rem;
  }
}
@media screen and (min-width: 640px) {
  .container-courses .text-beginner {
    background-color: grey;
    margin-top: 3rem;
  }
  .container-courses .text-beginner-B {
    color: lightgreen;
    font-size: 5rem;
    text-align: center;
  }
  .container-courses .text-beginner-B1 {
    color: lightgreen;
    font-size: 2rem;
  }
  .container-courses .beginner-btn {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
  }
  .container-courses .beginner-btn:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
  .container-courses .text-medium {
    background-color: grey;
    margin-top: 3rem;
  }
  .container-courses .text-medium-M {
    color: lightgreen;
    font-size: 5rem;
    text-align: center;
  }
  .container-courses .text-medium-M1 {
    color: lightgreen;
    font-size: 2rem;
  }
  .container-courses .medium-btn {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
  }
  .container-courses .medium-btn:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
  .container-courses .text-expert {
    background-color: grey;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .container-courses .text-expert-E {
    color: lightgreen;
    font-size: 5rem;
    text-align: center;
  }
  .container-courses .text-expert-E1 {
    color: lightgreen;
    font-size: 2rem;
  }
  .container-courses .expert-btn {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
  }
  .container-courses .expert-btn:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
}
@media screen and (min-width: 1024px) {
  .container-courses .text-beginner {
    background-color: grey;
    margin-top: 3rem;
  }
  .container-courses .text-beginner-B {
    color: lightgreen;
    font-size: 5rem;
    text-align: center;
  }
  .container-courses .text-beginner-B1 {
    color: lightgreen;
    font-size: 2rem;
  }
  .container-courses .beginner-btn {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
  }
  .container-courses .beginner-btn:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
  .container-courses .text-medium {
    background-color: grey;
    margin-top: 3rem;
  }
  .container-courses .text-medium-M {
    color: lightgreen;
    font-size: 5rem;
    text-align: center;
  }
  .container-courses .text-medium-M1 {
    color: lightgreen;
    font-size: 2rem;
  }
  .container-courses .medium-btn {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
  }
  .container-courses .medium-btn:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
  .container-courses .text-expert {
    background-color: grey;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .container-courses .text-expert-E {
    color: lightgreen;
    font-size: 5rem;
    text-align: center;
  }
  .container-courses .text-expert-E1 {
    color: lightgreen;
    font-size: 2rem;
  }
  .container-courses .expert-btn {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
  }
  .container-courses .expert-btn:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
}
@media screen and (min-width: 1440px) {
  .container-courses .text-beginner {
    background-color: grey;
    margin-top: 3rem;
  }
  .container-courses .text-beginner-B {
    color: lightgreen;
    font-size: 5rem;
    text-align: center;
  }
  .container-courses .text-beginner-B1 {
    color: lightgreen;
    font-size: 2rem;
  }
  .container-courses .beginner-btn {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
  }
  .container-courses .beginner-btn:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
  .container-courses .text-medium {
    background-color: grey;
    margin-top: 3rem;
  }
  .container-courses .text-medium-M {
    color: lightgreen;
    font-size: 5rem;
    text-align: center;
  }
  .container-courses .text-medium-M1 {
    color: lightgreen;
    font-size: 2rem;
  }
  .container-courses .medium-btn {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
  }
  .container-courses .medium-btn:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
  .container-courses .text-expert {
    background-color: grey;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .container-courses .text-expert-E {
    color: lightgreen;
    font-size: 5rem;
    text-align: center;
  }
  .container-courses .text-expert-E1 {
    color: lightgreen;
    font-size: 2rem;
  }
  .container-courses .expert-btn {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
  }
  .container-courses .expert-btn:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
}
@media screen and (min-width: 640px) {
  .container-contacts .text-contacts {
    margin-top: 2rem;
  }
  .container-contacts .input-group {
    margin-top: 5rem;
  }
  .container-contacts .form-label {
    margin-top: 2rem;
  }
  .container-contacts .btn-submit {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .container-contacts .btn-submit:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
}
@media screen and (min-width: 1024px) {
  .container-contacts .text-contacts {
    margin-top: 2rem;
  }
  .container-contacts .input-group {
    margin-top: 5rem;
  }
  .container-contacts .form-label {
    margin-top: 2rem;
  }
  .container-contacts .btn-submit {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .container-contacts .btn-submit:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
}
@media screen and (min-width: 1440px) {
  .container-contacts .text-contacts {
    margin-top: 2rem;
  }
  .container-contacts .input-group {
    margin-top: 5rem;
  }
  .container-contacts .form-label {
    margin-top: 2rem;
  }
  .container-contacts .btn-submit {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    background-color: lightseagreen;
    color: lightgreen;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .container-contacts .btn-submit:hover {
    background-color: lightgreen;
    color: lightseagreen;
  }
}
@media screen and (min-width: 640px) {
  .container-footer {
    background-color: grey;
  }
  .container-footer .text-copyright {
    color: lightgreen;
    font-size: 1.5rem;
  }
  .container-footer .facebook {
    font-size: 1.5rem;
  }
  .container-footer .instagram {
    font-size: 1.5rem;
  }
  .container-footer .twitter {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .container-footer {
    background-color: grey;
  }
  .container-footer .text-copyright {
    color: lightgreen;
    font-size: 1.5rem;
  }
  .container-footer .facebook {
    font-size: 1.5rem;
  }
  .container-footer .instagram {
    font-size: 1.5rem;
  }
  .container-footer .twitter {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .container-footer {
    background-color: grey;
  }
  .container-footer .text-copyright {
    color: lightgreen;
    font-size: 1.5rem;
  }
  .container-footer .facebook {
    font-size: 1.5rem;
  }
  .container-footer .instagram {
    font-size: 1.5rem;
  }
  .container-footer .twitter {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .container-audi {
    margin-bottom: 3rem;
  }
  .container-audi .my-row1 {
    margin-top: 1rem;
  }
  .container-audi .my-row2 {
    margin-top: -1rem;
  }
  .container-audi .card-header {
    font-size: 2rem;
  }
  .container-audi .btn-a {
    color: white;
    text-decoration: none;
  }
  .container-audi .btn-a:hover {
    color: lightgreen;
  }
  .container-audi .bg-my {
    background-color: purple;
  }
  .container-audi .img-a {
    width: 16rem;
    height: 16rem;
  }
  .container-audi h5 {
    font-size: 1.5rem;
  }
  .container-audi .card-title {
    color: white;
  }
  .container-audi .card-text {
    font-size: 1.3rem;
    margin-top: 1rem;
    color: white;
  }
  .container-audi .my-col {
    width: 20rem;
  }
  .container-audi .audi-menu {
    text-decoration: none;
    font-size: 2.5rem;
    color: green;
  }
  .container-audi .audi-menu:hover {
    color: lightgreen;
  }
  .container-audi .btn-shopcart {
    text-decoration: none;
    font-size: 2rem;
  }
  .container-audi .fade-enter {
    opacity: 0;
  }
  .container-audi .fade-enter-active {
    transition: opacity 3s;
  }
  .container-audi .fade-leave {
    opacity: 0;
  }
  .container-audi .fade-leave-active {
    transition: opacity 3s;
    opacity: 0;
  }
}
.container-engine .fade-enter {
  opacity: 0;
}
.container-engine .fade-enter-active {
  transition: opacity 3s;
}
.container-engine .fade-leave {
  opacity: 0;
}
.container-engine .fade-leave-active {
  transition: opacity 3s;
  opacity: 0;
}
.container-engine .card-header {
  background-color: lightskyblue;
}

.par {
  color: green;
}/*# sourceMappingURL=styles.css.map */